@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Personal Finance Manager helps track accounts and record income and expenses.
    </p>
       
</div>

